{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ greeting }}, welcome to Chtrupal v666!</h1>

    <p>
        Cthrupal is a content management framework to end all content management frameworks!
    </p>

{% endblock %}
