<html>
<head>
    <title>Chtrupal v666</title>

    <style type="text/css">

        body {
            font-size: 20px;
        }

    </style>


</head>

<body>

{% block content %}
Some default content
{% endblock %}

</body>

</html>
